<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Kodbook</title>
</head>
<body>
	<h1>Kodbook</h1>
	<h3>#1 social media app</h3>
	<hr>
	<form action="login" method="post">
		<label>UserName :</label>
		<input type="text" name="username">
		<br><br>
		<label>Password :</label>
		<input type="password" name="password">
		<br><br>
		<input type="submit" value="LOGIN">
		<hr>
		<a href="forgotpassword">Forgot password?</a>
		<a href="signup">Create new account</a>
	</form>
</body>
</html>